<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona list</title>
</head>
<body>
    {% for persona in personas%}
    <div>
        <a href="{% url 'persona_details' persona.id %}">
            {{persona.name}}
        </a>
    </div>
    {% endfor %}
</body>
<div class="" style = "margin-top: 40px;">
    <div class=""><a href="{% url 'persona_create' %}">create persona</a></div>
    <div class=""><a href="{% url 'logout' %}">logout</a></div>
</div>
</html>