@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 200, 200, 200;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 200, 200, 200;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #cccccc;
    border-bottom: 1px solid #ddd;
  }
  
  .header-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .header-button:hover {
    background-color: #0056b3;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-message {
    margin-right: 15px;
  /*background-color: bisque;
  width: 100vw*/
}

.row {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.column {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  height: 100vh; 
  width: 100vw;  
}
