@import url('@/app/globals.css');

.bar {
	color: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	background-color: #7d7d7d;
}

.bar:hover {
	color: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	background-color: #414141;
}

.dropdown {
	background-color: #cccccc;
}

@media only screen and (min-width: 768px) {
  .bar {
    max-width: 600px;
  }
	.dropdown {
		max-width: 600px;
	}
}

/* 
@media only screen and (min-width: 992px) {
} */